Code/MedegaImport/Dev/Src/MedegaImport/Web References/GuardsImportService/Reference.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://riziv.fgov.be/GuardsImportService" elementFormDefault="qualified" targetNamespace="http://riziv.fgov.be/GuardsImportService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ImportMedegaGuardResult" nillable="true" type="tns:ImportMedegaGuardResult" />
  <xs:complexType name="ImportMedegaGuardResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PeriodId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="FileId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="GuardStatus" type="tns:GuardStates" />
      <xs:element minOccurs="0" maxOccurs="1" name="FailureDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FailureCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GuardStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Imported" />
      <xs:enumeration value="Overlapping" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Paid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GuardStates" type="tns:GuardStates" />
  <xs:element name="ImportMedegaGuardRequest" nillable="true" type="tns:ImportMedegaGuardRequest" />
  <xs:complexType name="ImportMedegaGuardRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PeriodId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="FileId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImportXmlId" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="RizivNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankAccountNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuardDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuardStartTime" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuardEndTime" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ZoneId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZoneName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GeographicEntityName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NisCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponsableRizivNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponsableLastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponsableFirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationError" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>